/*-----------------------------------*\
  #CUSTOM COLORS
\*-----------------------------------*/
:root {
 
  --top-gradient: hsl(273, 75%, 66%);
  --bottom-gradient: hsl(240, 73%, 65%);
    
  --heading-color: hsl(238, 29%, 16%);
  --main-color: hsl(237, 12%, 33%);
  --text-color: hsl(240, 6%, 50%);
  --hover-color: hsl(14, 88%, 65%);

  --divider: hsl(240, 5%, 91%);
}

/*-----------------------------------*\
  #RESET STYLES
\*-----------------------------------*/
.bg-gradient { 
  background: linear-gradient(var(--top-gradient), var(--bottom-gradient)) !important; 
  background-repeat: no-repeat !important;
}

.custom-m { margin: 30vh auto; }

.container-bg { background-color: white; }

.h-100 { 
  height: 100vh !important; 
  width: 100%;
}

.w-9 {
  width: 95%;
  margin: 10vh auto 0;
}

@media screen and (min-width: 1000px){
  .w-lg-89 { 
    width: 85%; 
    padding: 3rem;
  }
}

.position { position: relative; }

.position-1 { position: absolute; }

.img-postion {
  width: 100%;
  position: relative;
}

/*-----------------------------------*\
  #IMAGE
\*-----------------------------------*/

.img-width { width: 200%;}

.align { align-items: center; }

/*-----------------------------------*\
  #ACCORDION
\*-----------------------------------*/

 .accordion {
  --bs-accordion-btn-focus-box-shadow: none;
  --bs-accordion-border-color: none; 
  --bs-accordion-btn-bg: none; 
  --bs-accordion-active-bg: none; 
}

.accordion-button::after {
  filter: brightness(0) saturate(100%) invert(59%) sepia(57%) saturate(2927%) hue-rotate(342deg) brightness(101%) contrast(101%);
}

.accordion-button:hover {
  color: var(--hover-color);
}

/* 2. Bold font for active (open) accordion buttons */
.accordion-button:not(.collapsed) {
  color: var(--heading-color);
  font-weight: 700;
}

.accordion-item { border-bottom: 2px solid var(--divider); }